{% extends "base.html" %}

{% block title %}Project Management{% endblock %}

{% block content %}
    <h1>Project Content</h1>
<!-- Edit Project Form -->
<div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Edit Project Information</h5>
      <form action="{{ url_for('views.edit_project', project_number=project.project_number) }}" method="POST">
        <div class="mb-3">
          <input
            type="text"
            name="project_number"
            class="form-control"
            placeholder= "Project Number"
            value="{{ project.project_number }}"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="date"
            name="date_ended"
            class="form-control"
            placeholder="Date Ended"
            value = "{{ project.date_ended }}"
          />
        </div>
        <div class="mb-3">
            <input
              type="date"
              name="date_started"
              class="form-control"
              placeholder="Date Started"
              value = "{{ project.date_started }}"
            />
          </div>
          <div class="mb-3">
            <input
              type="Integer"
              name="budget"
              class="form-control"
              placeholder="Budget"
              value = "{{ project.budget }}"
            />
          </div>
          <div class="mb-3">
            <input
              type="Integer"
              name="department_id"
              class="form-control"
              placeholder="department_id"
              value = "{{ project.department_id }}"
            />
          </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>



    {% endblock %}

    <!-- This page allows you to edit project details without you having to create a new one. requries projecttt_number to verify its the correct project -->